.Quiz{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;

    background-image: linear-gradient(rgba(221,214,243, 0.7), rgba(250,172,168, 0.6));
    background-size: 100vh;
}
.Quiz h1{
    color: #fff;
    text-align: center;
}

.QuizWrapper{
    max-width: 800px;
    width: 100%;
}