.ActiveQuiz {
    color: #fff;
    padding: 20px;
    border: 2px solid #fefefe;
    /*background-image: linear-gradient( rgba(236,111,102, 0.3), rgba(243,161,131, 0.4));*/
    /*    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);*/
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);





    border-radius: 10px;

}

.ActiveQuiz p {
    text-align: right;
}

.ActiveQuiz h2 {

}
.Question{
    
}