.ActiveQuiz {
    color: #fff;
    padding: 20px;
    border: 2px solid #fefefe;
    background-image: linear-gradient( rgba(236,111,102, 0.3), rgba(243,161,131, 0.4));
    border-radius: 10px;

}

.ActiveQuiz p {
    text-align: right;
}

.ActiveQuiz h2 {

}
.Question{
    
}